.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
  transition: all 0.7s linear;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(0.95);
}
